<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!------<title> Website Layout | CodingLab</title>------>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>

<body>
    <nav>
        
        <div class="menu">
            <img src="../static/image.jpeg">
            <a href="#">SMARTCAREER</a>
            <div class="logo">




            </div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="/signin">login</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Feedback</a></li>
                <li><a href="/Signup">signup</a></li>
            </ul>
        </div>
    </nav>
    <div class="img"></div>
    <div class="center" style="color: rgb(0, 0, 0);">
        <div class="title" style="color: rgb(0, 0, 0);">DREAM JOBS</div>

        <div class="btns">
            <button>location</button>
            <button>Career</button>

            <button>Search Jobs</button>
        </div>
    </div>
</body>

</html>